<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Howler</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <link type="text/css" rel="stylesheet" href="../css/howler.css">
    <link type="text/css" rel="stylesheet" href="../css/header-footer.css">
    <script src="/js/howler.js" defer></script>
</head>

<body>
    <header>
        <a href="/" id="main">Howler</a> 
        <div id="user-info">
            <a id="current-username"></a>
            <img id="current-user-image">
        </div>
    </header>
    <div id="page-body">

        <div class="howl-container" id="howl-input">
            <textarea id="howl-text" rows="3" placeholder="What's howling?"></textarea>
            <button id="post-howl">Howl</button>
        </div>

            <div id="feed" class="container">

                <template id="howl-template">

                    <div class="howl">

                        <div class="howler-info">
                            <img>
                            <h5></h5>
                            <a></a>
                            <span></span>
                        </div>

                        <p></p>


                    </div>

                </template>

            </div>

        <button id="logout">Logout ⏻</button>

    </div>  
</body>

<footer> 
    
    <h1>Howler</h1>

    <div id="upper-footer">

        <ul>
            <li>Help</li>
            <li>Contact</li>
            <li>Security Center</li>
            <li>Privacy Center</li>
            <li>Shop</li>
            <li>Apps</li>
            <li>Enterprise</li>
            <li>Partners</li>
        </ul>

    </div>

    <div id="lower-footer">

        <ul>
            <li>About</li>
            <li>Newsroom</li>
            <li>Jobs</li>
            <li>Investor Relations</li>
            <li>Government Relations</li>
        </ul>

        <ul>
            <li>&#169;1999-2025</li>
            <li>Accessibility</li>
            <li>Privacy Statement</li>
            <li>Cookies</li>
            <li>Legal</li>
        </ul>
        
    </div>
   
</footer>
</html>